<!DOCTYPE html>
<html lang="us" ng-app="mainModule">
<head>
    <meta charset="UTF-8">
    <script src="Lesson20/angular.min.js"></script>
    <script src="angular1-selftest.js"></script>
    <title>Combinator</title>
</head>
<body>
<div ng-controller="InputController as inputCtrl">
    <h1>Combinator</h1>
    <p>Pleae enter your userSentence and put in brackets categories you want to change with options</p>
    <br>
    <p><b>Example of userSentence:</b></p>
    <p>Above Grade Level [delivery method] quality tutoring assistance with some of the best [subject] tutors in
        [location].</p><br>
    <!--<input type="text" ng-model="inputCtrl.userSentence">-->
    <textarea name="sentence" id="sentence" cols="60" rows="10" ng-model="inputCtrl.userSentence"></textarea>
    <br>
    <button ng-click="inputCtrl.submitSentence()">Submit</button>
    <br>

    <div ng-if="inputCtrl.showOptions">
        <h3>Please enter options for the catefories</h3>
        <ul>
            <li ng-repeat="category in inputCtrl.categories"><h4>{{category.categoryName.toUpperCase()}}</h4>
                <textarea name="category" id="category" cols="30" rows="3" ng-model="inputCtrl.options[$index]"></textarea>
            </li>
        </ul>
        <button ng-click="inputCtrl.createSentences()">Combine sentences</button>
    </div>


    <div ng-if="inputCtrl.showSentences">
        <ol>
            <li ng-repeat="userSentence in inputCtrl.sentences">{{userSentence}}</li>
        </ol>
    </div>

</div>

</body>
</html>