<!doctype html>
<html lang="en" ng-app="combinatorMdl">
<head>
    <meta charset="UTF-8">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="myStyle.css">
    <title>Combinator</title>
</head>
<body>
<div ng-controller="InputController as inputCtrl">
    <input id='sentence' type="text" ng-model="inputCtrl.userSentence" ng-keyup="inputCtrl.clearOptions()"><br>
    <button ng-click="inputCtrl.SubmitSentence()">Submit sentence</button>

    <div ng-if="inputCtrl.isSentenceSubmited">

        <ul>
            <li ng-repeat="category in inputCtrl.categories">
                Please input options for '{{category.categoryName}}' category:
                <br>
                <ol>
                    <li ng-repeat="option in inputCtrl.categoryOptions[$index]">
                        <input type="text" ng-model="optionValue">
                        <button ng-click="inputCtrl.addOption( $parent.$index, optionValue)">Add option</button>
                    </li>
                </ol>

            </li>
        </ul>
        <button ng-click="inputCtrl.SubmitOptions()">Create options</button>


    </div>
    <div ng-if="inputCtrl.showOptions">
        <ol>
            <li ng-repeat="option in inputCtrl.sentencesOptions">
                {{option}}
            </li>
        </ol>
    </div>

</div>
</body>
</html>